<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Answer</key>
		<string>D</string>
		<key>AnswerCandidate</key>
		<array>
			<string>格华止</string>
			<string>拜糖平</string>
			<string>艾汀</string>
			<string>达美康</string>
		</array>
		<key>AnswerHint</key>
		<string>格华止是盐酸二甲双胍片，属于二甲双胍类，本类药物不刺激胰岛β细胞，对正常人几乎无作用，而对2型糖尿病人降血糖作用明显。拜糖平是阿卡波糖，属于α-糖苷酶抑制剂，单独使用不引起低血糖，也不影响体重；可与其它类口服降糖药及胰岛素合用。可用于各型糖尿病，以改善2型糖尿病病人餐后血糖，亦可用于对其它口服降糖药药效不明显的患者。艾汀是盐酸吡格列酮片，是噻唑烷二酮类抗糖尿病药物，属胰岛素增敏剂，作用机制与胰岛素的存在有关，可减少外周组织和肝脏的胰岛素抵抗，增加依赖胰岛素的葡萄糖的处理，并减少肝糖的输出。适用于2型糖尿病（或非胰岛素依赖性糖尿病，NIDDM）。达美康是格列齐特，属于磺脲类促泌剂，为第二代磺酰脲类药，其药效比第一代甲苯磺丁脲强10倍以上。</string>
		<key>Chapter</key>
		<string>糖尿病问卷</string>
		<key>Index</key>
		<string>1</string>
		<key>Question</key>
		<string>下列药物属于磺脲类药物的是</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string>D</string>
		<key>AnswerCandidate</key>
		<array>
			<string>Ⅰ型糖尿病</string>
			<string>肝肾功能不全</string>
			<string>孕妇、需要手术病人</string>
			<string>以上均是</string>
		</array>
		<key>AnswerHint</key>
		<string>磺脲类药物的禁忌症：1型糖尿病患者；2型糖尿病患者有严重肝肾功能异常者；对磺脲类降糖药物过敏者；在发生糖尿病急性合并症如糖尿病酮症酸中毒时，或并有严重慢性合并症者；在有应激情况下，如有严重创伤、大手术、严重感染、妊娠等，应改用胰岛素治疗。</string>
		<key>Chapter</key>
		<string>糖尿病问卷</string>
		<key>Index</key>
		<string>2</string>
		<key>Question</key>
		<string>磺脲类药物的禁忌症是</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string>A</string>
		<key>AnswerCandidate</key>
		<array>
			<string>刺激胰腺分泌胰岛素</string>
			<string>抑制葡萄糖的吸收</string>
			<string>抑制肝葡萄糖的合成</string>
			<string>增加外周肌肉胰岛素对葡萄糖的摄取和脂肪组织对葡萄糖的摄取</string>
		</array>
		<key>AnswerHint</key>
		<string>磺脲类药物属于促胰岛素分泌药，主要药理作用是刺激胰岛B细胞分泌胰岛素，增加体内的胰岛素水平。</string>
		<key>Chapter</key>
		<string>糖尿病问卷</string>
		<key>Index</key>
		<string>3</string>
		<key>Question</key>
		<string>磺脲类口服降糖药的降糖机制是</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string>B</string>
		<key>AnswerCandidate</key>
		<array>
			<string>空腹或餐前服用</string>
			<string>餐后或随餐服用</string>
		</array>
		<key>AnswerHint</key>
		<string>二甲双胍对胃粘膜有刺激性，餐前服用易致恶心、呕吐、腹部不适等胃肠道副作用，因此，二甲双胍片不宜在空腹或饭前服用，应餐后即刻服用或随餐服用，以减少胃肠道反应。 </string>
		<key>Chapter</key>
		<string>糖尿病问卷</string>
		<key>Index</key>
		<string>4</string>
		<key>Question</key>
		<string>二甲双胍片的服用时间</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string>C</string>
		<key>AnswerCandidate</key>
		<array>
			<string>空腹服用</string>
			<string>饭后服用</string>
			<string>吃第一口饭时服用</string>
			<string>睡前服用</string>
		</array>
		<key>AnswerHint</key>
		<string>阿卡波糖（拜糖平）属于α-糖苷酶抑制剂，主要是通过抑制肠道α- 糖苷酶的活性，来延缓碳水化合物在小肠上部的吸收从而降低餐后血糖。必须随餐服用，否则没有作用，一般建议吃第一口饭时服用。</string>
		<key>Chapter</key>
		<string>糖尿病问卷</string>
		<key>Index</key>
		<string>5</string>
		<key>Question</key>
		<string>拜糖平的服用时间</string>
	</dict>
</array>
</plist>
