<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>完全不同意</string>
			<string>不同意</string>
			<string>说不准</string>
			<string>同意</string>
			<string>完全同意</string>
		</array>
		<key>Chapter</key>
		<string>高血压问卷</string>
		<key>Index</key>
		<string>1</string>
		<key>Question</key>
		<string>我相信高血压越早治疗控制达标越好(—)</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>完全不同意</string>
			<string>不同意</string>
			<string>说不准</string>
			<string>同意</string>
			<string>完全同意</string>
		</array>
		<key>Chapter</key>
		<string>高血压问卷</string>
		<key>Index</key>
		<string>2</string>
		<key>Question</key>
		<string>我知道自己血压控制的目标值(—)</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>完全不同意</string>
			<string>不同意</string>
			<string>说不准</string>
			<string>同意</string>
			<string>完全同意</string>
		</array>
		<key>Chapter</key>
		<string>高血压问卷</string>
		<key>Index</key>
		<string>3</string>
		<key>Question</key>
		<string>高血压需要长期甚至终身坚持服降压药(—)</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>完全不同意</string>
			<string>不同意</string>
			<string>说不准</string>
			<string>同意</string>
			<string>完全同意</string>
		</array>
		<key>Chapter</key>
		<string>高血压问卷</string>
		<key>Index</key>
		<string>4</string>
		<key>Question</key>
		<string>我相信服用医生开的降压药能改善健康(—)</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>完全同意</string>
			<string>同意</string>
			<string>说不准</string>
			<string>不同意</string>
			<string>完全不同意</string>
		</array>
		<key>Chapter</key>
		<string>高血压问卷</string>
		<key>Index</key>
		<string>5</string>
		<key>Question</key>
		<string>感觉良好时不服降压药也行</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>完全同意</string>
			<string>同意</string>
			<string>说不准</string>
			<string>不同意</string>
			<string>完全不同意</string>
		</array>
		<key>Chapter</key>
		<string>高血压问卷</string>
		<key>Index</key>
		<string>6</string>
		<key>Question</key>
		<string>血压控制达标后我就可以停服降压药</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>完全同意</string>
			<string>同意</string>
			<string>说不准</string>
			<string>不同意</string>
			<string>完全不同意</string>
		</array>
		<key>Chapter</key>
		<string>高血压问卷</string>
		<key>Index</key>
		<string>7</string>
		<key>Question</key>
		<string>可以通过停服降压药一段时间看看是否仍需要服药</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>完全同意</string>
			<string>同意</string>
			<string>说不准</string>
			<string>不同意</string>
			<string>完全不同意</string>
		</array>
		<key>Chapter</key>
		<string>高血压问卷</string>
		<key>Index</key>
		<string>8</string>
		<key>Question</key>
		<string>我愿意尝试只服用民间降血压的偏方</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>完全同意</string>
			<string>同意</string>
			<string>说不准</string>
			<string>不同意</string>
			<string>完全不同意</string>
		</array>
		<key>Chapter</key>
		<string>高血压问卷</string>
		<key>Index</key>
		<string>9</string>
		<key>Question</key>
		<string>我感到每天坚持服降压药太麻烦了</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>完全同意</string>
			<string>同意</string>
			<string>说不准</string>
			<string>不同意</string>
			<string>完全不同意</string>
		</array>
		<key>Chapter</key>
		<string>高血压问卷</string>
		<key>Index</key>
		<string>10</string>
		<key>Question</key>
		<string>每天记住服降压药对我而言太困难了</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>完全同意</string>
			<string>同意</string>
			<string>说不准</string>
			<string>不同意</string>
			<string>完全不同意</string>
		</array>
		<key>Chapter</key>
		<string>高血压问卷</string>
		<key>Index</key>
		<string>11</string>
		<key>Question</key>
		<string>我觉得漏服几次降压药没有什么大不了</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>完全同意</string>
			<string>同意</string>
			<string>说不准</string>
			<string>不同意</string>
			<string>完全不同意</string>
		</array>
		<key>Chapter</key>
		<string>高血压问卷</string>
		<key>Index</key>
		<string>12</string>
		<key>Question</key>
		<string>长期服药我担心药物的不良反应</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>完全同意</string>
			<string>同意</string>
			<string>说不准</string>
			<string>不同意</string>
			<string>完全不同意</string>
		</array>
		<key>Chapter</key>
		<string>高血压问卷</string>
		<key>Index</key>
		<string>13</string>
		<key>Question</key>
		<string>我感到药价太贵难以承受</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>完全同意</string>
			<string>同意</string>
			<string>说不准</string>
			<string>不同意</string>
			<string>完全不同意</string>
		</array>
		<key>Chapter</key>
		<string>高血压问卷</string>
		<key>Index</key>
		<string>14</string>
		<key>Question</key>
		<string>当地医疗机构没有我想要的降压药</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>完全同意</string>
			<string>同意</string>
			<string>说不准</string>
			<string>不同意</string>
			<string>完全不同意</string>
		</array>
		<key>Chapter</key>
		<string>高血压问卷</string>
		<key>Index</key>
		<string>15</string>
		<key>Question</key>
		<string>我觉得吃咸点对血压没有什么影响</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>完全同意</string>
			<string>同意</string>
			<string>说不准</string>
			<string>不同意</string>
			<string>完全不同意</string>
		</array>
		<key>Chapter</key>
		<string>高血压问卷</string>
		<key>Index</key>
		<string>16</string>
		<key>Question</key>
		<string>我没有必要进行规律锻炼</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>完全同意</string>
			<string>同意</string>
			<string>说不准</string>
			<string>不同意</string>
			<string>完全不同意</string>
		</array>
		<key>Chapter</key>
		<string>高血压问卷</string>
		<key>Index</key>
		<string>17</string>
		<key>Question</key>
		<string>我没有时间或精力进行规律锻炼</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>完全同意</string>
			<string>同意</string>
			<string>说不准</string>
			<string>不同意</string>
			<string>完全不同意</string>
		</array>
		<key>Chapter</key>
		<string>高血压问卷</string>
		<key>Index</key>
		<string>18</string>
		<key>Question</key>
		<string>我因身体受限而无法进行规律锻炼</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>完全同意</string>
			<string>同意</string>
			<string>说不准</string>
			<string>不同意</string>
			<string>完全不同意</string>
		</array>
		<key>Chapter</key>
		<string>高血压问卷</string>
		<key>Index</key>
		<string>19</string>
		<key>Question</key>
		<string>我不知道如何将体质量控制在正常范围</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>完全同意</string>
			<string>同意</string>
			<string>说不准</string>
			<string>不同意</string>
			<string>完全不同意</string>
		</array>
		<key>Chapter</key>
		<string>高血压问卷</string>
		<key>Index</key>
		<string>20</string>
		<key>Question</key>
		<string>我觉得很难平衡工作、锻炼及休息的关系</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>完全同意</string>
			<string>同意</string>
			<string>说不准</string>
			<string>不同意</string>
			<string>完全不同意</string>
		</array>
		<key>Chapter</key>
		<string>高血压问卷</string>
		<key>Index</key>
		<string>21</string>
		<key>Question</key>
		<string>我不知道如何调节自己的情绪</string>
	</dict>
</array>
</plist>
