<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>有糖尿病的症状+任何时间的静脉血浆葡萄糖浓度≥ 11.1mmol/l</string>
			<string>空腹静脉血浆葡萄糖浓度≥ 8.0 mmol/L</string>
			<string>OGTT+2小时静脉血浆葡萄糖浓度≥ 10.1 mmol/L</string>
			<string>不知道</string>
		</array>
		<key>Chapter</key>
		<string>糖尿病问卷</string>
		<key>Index</key>
		<string>1</string>
		<key>Question</key>
		<string>您知道糖尿病的诊断标准是多少吗？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>知道</string>
			<string>不知道</string>
		</array>
		<key>Chapter</key>
		<string>糖尿病问卷</string>
		<key>Index</key>
		<string>2</string>
		<key>Question</key>
		<string>您知道糖尿病的并发症很多吗？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>容易</string>
			<string>不容易</string>
		</array>
		<key>Chapter</key>
		<string>糖尿病问卷</string>
		<key>Index</key>
		<string>3</string>
		<key>Question</key>
		<string>您认为肥胖者易患糖尿病吗？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>知道</string>
			<string>不知道</string>
		</array>
		<key>Chapter</key>
		<string>糖尿病问卷</string>
		<key>Index</key>
		<string>4</string>
		<key>Question</key>
		<string>您知道糖尿病饮食要控制总热量和体重吗？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>只需药物治疗</string>
			<string>只需非药物治疗</string>
			<string>两者均要</string>
			<string>不知道</string>
		</array>
		<key>Chapter</key>
		<string>糖尿病问卷</string>
		<key>Index</key>
		<string>5</string>
		<key>Question</key>
		<string>您认为糖尿病应该如何治疗？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>有</string>
			<string>没有</string>
		</array>
		<key>Chapter</key>
		<string>糖尿病问卷</string>
		<key>Index</key>
		<string>6</string>
		<key>Question</key>
		<string>您的家人有糖尿病病史吗？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>从不吸烟</string>
			<string>吸烟，现在仍在吸</string>
			<string>过去吸烟，现已戒烟</string>
		</array>
		<key>Chapter</key>
		<string>糖尿病问卷</string>
		<key>Index</key>
		<string>7</string>
		<key>Question</key>
		<string>您吸烟吗？（本次吸烟定义指20岁及以上成年人，每天至少吸1支烟，吸6个月或6个月以上者，但不一定为连续的6个月。）</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>偏咸</string>
			<string>偏淡</string>
			<string>偏甜</string>
			<string>一般</string>
			<string>不清楚</string>
		</array>
		<key>Chapter</key>
		<string>糖尿病问卷</string>
		<key>Index</key>
		<string>8</string>
		<key>Question</key>
		<string>您的饮食习惯是</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>经常</string>
			<string>有时</string>
			<string>没有</string>
			<string>过去过量饮酒，现已戒</string>
		</array>
		<key>Chapter</key>
		<string>糖尿病问卷</string>
		<key>Index</key>
		<string>9</string>
		<key>Question</key>
		<string>您有过量饮酒吗？（过量饮酒指每日饮白酒≥100ml，且每周饮酒在4次以上）</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>有</string>
			<string>没有</string>
		</array>
		<key>Chapter</key>
		<string>糖尿病问卷</string>
		<key>Index</key>
		<string>10</string>
		<key>Question</key>
		<string>过去一年中，您进行过户外锻炼吗？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>经常</string>
			<string>有时</string>
			<string>没有</string>
			<string>不知道</string>
		</array>
		<key>Chapter</key>
		<string>糖尿病问卷</string>
		<key>Index</key>
		<string>11</string>
		<key>Question</key>
		<string>过去一年中，您会感到精神过度紧张吗？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>增加锻炼</string>
			<string>服用减肥药</string>
			<string>控制饮食</string>
			<string>其他</string>
			<string>没有采取任何措施</string>
		</array>
		<key>Chapter</key>
		<string>糖尿病问卷</string>
		<key>Index</key>
		<string>12</string>
		<key>Question</key>
		<string>过去一年中，您采取什么措施控制体重？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>很好</string>
			<string>较好</string>
			<string>一般</string>
			<string>较差</string>
			<string>差</string>
			<string>不知道</string>
		</array>
		<key>Chapter</key>
		<string>糖尿病问卷</string>
		<key>Index</key>
		<string>13</string>
		<key>Question</key>
		<string>过去一年中，您认为自己的健康状况如何？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>多饮、多尿、多食</string>
			<string>体重减轻</string>
			<string>疲乏无力</string>
			<string>以上都有</string>
			<string>没有症状</string>
			<string>不知道</string>
		</array>
		<key>Chapter</key>
		<string>糖尿病问卷</string>
		<key>Index</key>
		<string>14</string>
		<key>Question</key>
		<string>您目前有哪些症状？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>有</string>
			<string>没有</string>
		</array>
		<key>Chapter</key>
		<string>糖尿病问卷</string>
		<key>Index</key>
		<string>15</string>
		<key>Question</key>
		<string>您有过低血糖反应吗（如心慌、饥饿、手抖、乏力、头晕、出汗）？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>非药物治疗</string>
			<string>药物治疗</string>
			<string>两者都采用</string>
			<string>没有治疗</string>
		</array>
		<key>Chapter</key>
		<string>糖尿病问卷</string>
		<key>Index</key>
		<string>16</string>
		<key>Question</key>
		<string>您目前采用哪些方法来控制血糖？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>有</string>
			<string>没有</string>
		</array>
		<key>Chapter</key>
		<string>糖尿病问卷</string>
		<key>Index</key>
		<string>17</string>
		<key>Question</key>
		<string>您是否有忘记服药的经历？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>是</string>
			<string>不是</string>
		</array>
		<key>Chapter</key>
		<string>糖尿病问卷</string>
		<key>Index</key>
		<string>18</string>
		<key>Question</key>
		<string>您是否有时不注意服药？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>是</string>
			<string>不是</string>
		</array>
		<key>Chapter</key>
		<string>糖尿病问卷</string>
		<key>Index</key>
		<string>19</string>
		<key>Question</key>
		<string>自觉症状改善时，您是否曾停药？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>是</string>
			<string>不是</string>
		</array>
		<key>Chapter</key>
		<string>糖尿病问卷</string>
		<key>Index</key>
		<string>20</string>
		<key>Question</key>
		<string>服药自觉症状更坏时，您是否曾停药？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>不能</string>
			<string>可以</string>
			<string>不知道</string>
		</array>
		<key>Chapter</key>
		<string>糖尿病问卷</string>
		<key>Index</key>
		<string>21</string>
		<key>Question</key>
		<string>经过治疗后，您的血糖可以控制在正常水平吗？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>没有坚持非药物治疗</string>
			<string>不能按医嘱服用降血压的药物</string>
			<string>两者都有</string>
			<string>其他</string>
			<string>没有治疗</string>
		</array>
		<key>Chapter</key>
		<string>糖尿病问卷</string>
		<key>Index</key>
		<string>22</string>
		<key>Question</key>
		<string>您的血糖不能控制在正常水平的原因是什么？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>定期到医院检查</string>
			<string>参加糖友俱乐部</string>
			<string>社区随诊</string>
			<string>不知道</string>
		</array>
		<key>Chapter</key>
		<string>糖尿病问卷</string>
		<key>Index</key>
		<string>23</string>
		<key>Question</key>
		<string>您目前对糖尿病管理主要采取哪些措施？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>有必要</string>
			<string>没有必要</string>
			<string>不知道</string>
		</array>
		<key>Chapter</key>
		<string>糖尿病问卷</string>
		<key>Index</key>
		<string>24</string>
		<key>Question</key>
		<string>您觉得有必要提高您的糖尿病相关知识和管理技能吗？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>是</string>
			<string>否</string>
		</array>
		<key>Chapter</key>
		<string>糖尿病问卷</string>
		<key>Index</key>
		<string>25</string>
		<key>Question</key>
		<string>您是否接触过糖尿病的手机app？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>网络</string>
			<string>医生</string>
			<string>报纸</string>
			<string>电视</string>
			<string>其他</string>
		</array>
		<key>Chapter</key>
		<string>糖尿病问卷</string>
		<key>Index</key>
		<string>26</string>
		<key>Question</key>
		<string>您是通过何种途径了解糖尿病的相关知识？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>契约管理</string>
			<string>自我管理</string>
			<string>家庭管理</string>
			<string>不管理</string>
			<string>不知道</string>
		</array>
		<key>Chapter</key>
		<string>糖尿病问卷</string>
		<key>Index</key>
		<string>27</string>
		<key>Question</key>
		<string>您倾向于选择哪种糖尿病管理方式？</string>
	</dict>
</array>
</plist>
