<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Answer</key>
		<string></string>
		<key>AnswerCandidate</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>Chapter</key>
		<string>体质检测</string>
		<key>Index</key>
		<string>1</string>
		<key>Question</key>
		<string>(1)您精力充沛吗？（指精神头足，乐于做事）</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string></string>
		<key>AnswerCandidate</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>Chapter</key>
		<string>体质检测</string>
		<key>Index</key>
		<string>2</string>
		<key>Question</key>
		<string>(2)您容易疲乏吗？（指体力如何，是否稍微活动一下或做一点家务劳动就感到累）</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string></string>
		<key>AnswerCandidate</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>Chapter</key>
		<string>体质检测</string>
		<key>Index</key>
		<string>3</string>
		<key>Question</key>
		<string>(3)您容易气短，呼吸短促，接不上气吗？</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string></string>
		<key>AnswerCandidate</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>Chapter</key>
		<string>体质检测</string>
		<key>Index</key>
		<string>4</string>
		<key>Question</key>
		<string>(4)您说话声音低弱无力吗?（指说话没有力气）</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string></string>
		<key>AnswerCandidate</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>Chapter</key>
		<string>体质检测</string>
		<key>Index</key>
		<string>5</string>
		<key>Question</key>
		<string>(5)您感到闷闷不乐、情绪低沉吗?（指心情不愉快，情绪低落）</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string></string>
		<key>AnswerCandidate</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>Chapter</key>
		<string>体质检测</string>
		<key>Index</key>
		<string>6</string>
		<key>Question</key>
		<string>(6)您容易精神紧张、焦虑不安吗?（指遇事是否心情紧张）</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string></string>
		<key>AnswerCandidate</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>Chapter</key>
		<string>体质检测</string>
		<key>Index</key>
		<string>7</string>
		<key>Question</key>
		<string>(7)您因为生活状态改变而感到孤独、失落吗？</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string></string>
		<key>AnswerCandidate</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>Chapter</key>
		<string>体质检测</string>
		<key>Index</key>
		<string>8</string>
		<key>Question</key>
		<string>(8)您容易感到害怕或受到惊吓吗?</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string></string>
		<key>AnswerCandidate</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>Chapter</key>
		<string>体质检测</string>
		<key>Index</key>
		<string>9</string>
		<key>Question</key>
		<string>(9)您感到身体超重不轻松吗?(感觉身体沉重)</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string></string>
		<key>AnswerCandidate</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>Chapter</key>
		<string>体质检测</string>
		<key>Index</key>
		<string>10</string>
		<key>Question</key>
		<string>(10)您眼睛干涩吗?</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string></string>
		<key>AnswerCandidate</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>Chapter</key>
		<string>体质检测</string>
		<key>Index</key>
		<string>11</string>
		<key>Question</key>
		<string>(11)您手脚发凉吗?（不包含因周围温度低或穿的少导致的手脚发冷）</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string></string>
		<key>AnswerCandidate</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>Chapter</key>
		<string>体质检测</string>
		<key>Index</key>
		<string>12</string>
		<key>Question</key>
		<string>(12)您胃脘部、背部或腰膝部怕冷吗？（指上腹部、背部、腰部或膝关节等，有一处或多处怕冷）</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string></string>
		<key>AnswerCandidate</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>Chapter</key>
		<string>体质检测</string>
		<key>Index</key>
		<string>13</string>
		<key>Question</key>
		<string>(13)您比一般人耐受不了寒冷吗？（指比别人容易害怕冬天或是夏天的冷空调、电扇等）</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string></string>
		<key>AnswerCandidate</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>Chapter</key>
		<string>体质检测</string>
		<key>Index</key>
		<string>14</string>
		<key>Question</key>
		<string>(14)您容易患感冒吗?（指每年感冒的次数）</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string></string>
		<key>AnswerCandidate</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>Chapter</key>
		<string>体质检测</string>
		<key>Index</key>
		<string>15</string>
		<key>Question</key>
		<string>(15)您没有感冒时也会鼻塞、流鼻涕吗?</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string></string>
		<key>AnswerCandidate</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>Chapter</key>
		<string>体质检测</string>
		<key>Index</key>
		<string>16</string>
		<key>Question</key>
		<string>(16)您有口粘口腻，或睡眠打鼾吗？</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string></string>
		<key>AnswerCandidate</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>Chapter</key>
		<string>体质检测</string>
		<key>Index</key>
		<string>17</string>
		<key>Question</key>
		<string>(17)您容易过敏(对药物、食物、气味、花粉或在季节交替、气候变化时)吗?</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string></string>
		<key>AnswerCandidate</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>Chapter</key>
		<string>体质检测</string>
		<key>Index</key>
		<string>18</string>
		<key>Question</key>
		<string>(18)您的皮肤容易起荨麻疹吗? (包括风团、风疹块、风疙瘩)</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string></string>
		<key>AnswerCandidate</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>Chapter</key>
		<string>体质检测</string>
		<key>Index</key>
		<string>19</string>
		<key>Question</key>
		<string>(19)您的皮肤在不知不觉中会出现青紫瘀斑、皮下出血吗?（指皮肤在没有外伤的情况下出现青一块紫一块的情况）</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string></string>
		<key>AnswerCandidate</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>Chapter</key>
		<string>体质检测</string>
		<key>Index</key>
		<string>20</string>
		<key>Question</key>
		<string>(20)您的皮肤一抓就红，并出现抓痕吗?（指被指甲或钝物划过后皮肤的反应）</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string></string>
		<key>AnswerCandidate</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>Chapter</key>
		<string>体质检测</string>
		<key>Index</key>
		<string>21</string>
		<key>Question</key>
		<string>(21)您皮肤或口唇干吗?</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string></string>
		<key>AnswerCandidate</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>Chapter</key>
		<string>体质检测</string>
		<key>Index</key>
		<string>22</string>
		<key>Question</key>
		<string>(22)您有肢体麻木或固定部位疼痛的感觉吗？</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string></string>
		<key>AnswerCandidate</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>Chapter</key>
		<string>体质检测</string>
		<key>Index</key>
		<string>23</string>
		<key>Question</key>
		<string>(23)您面部或鼻部有油腻感或者油亮发光吗?（指脸上或鼻子）</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string></string>
		<key>AnswerCandidate</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>Chapter</key>
		<string>体质检测</string>
		<key>Index</key>
		<string>24</string>
		<key>Question</key>
		<string>(24)您面色或目眶晦黯，或出现褐色斑块/斑点吗?</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string></string>
		<key>AnswerCandidate</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>Chapter</key>
		<string>体质检测</string>
		<key>Index</key>
		<string>25</string>
		<key>Question</key>
		<string>(25)您有皮肤湿疹、疮疖吗？</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string></string>
		<key>AnswerCandidate</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>Chapter</key>
		<string>体质检测</string>
		<key>Index</key>
		<string>26</string>
		<key>Question</key>
		<string>(26)您感到口干咽燥、总想喝水吗？</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string></string>
		<key>AnswerCandidate</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>Chapter</key>
		<string>体质检测</string>
		<key>Index</key>
		<string>27</string>
		<key>Question</key>
		<string>(27)您感到口苦或嘴里有异味吗?（指口苦或口臭）</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string></string>
		<key>AnswerCandidate</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>Chapter</key>
		<string>体质检测</string>
		<key>Index</key>
		<string>28</string>
		<key>Question</key>
		<string>(28)您腹部肥大吗?（指腹部脂肪肥厚）</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string></string>
		<key>AnswerCandidate</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>Chapter</key>
		<string>体质检测</string>
		<key>Index</key>
		<string>29</string>
		<key>Question</key>
		<string>(29)您吃(喝)凉的东西会感到不舒服或者怕吃(喝)凉的东西吗？（指不喜欢吃凉的食物，或吃了凉的食物后会不舒服）</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string></string>
		<key>AnswerCandidate</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>Chapter</key>
		<string>体质检测</string>
		<key>Index</key>
		<string>30</string>
		<key>Question</key>
		<string>(30)您有大便黏滞不爽、解不尽的感觉吗?(大便容易粘在马桶或便坑壁上)</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string></string>
		<key>AnswerCandidate</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>Chapter</key>
		<string>体质检测</string>
		<key>Index</key>
		<string>31</string>
		<key>Question</key>
		<string>(31)您容易大便干燥吗?</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string></string>
		<key>AnswerCandidate</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>Chapter</key>
		<string>体质检测</string>
		<key>Index</key>
		<string>32</string>
		<key>Question</key>
		<string>(32)您舌苔厚腻或有舌苔厚厚的感觉吗?（如果自我感觉不清楚可由调查员观察后填写）</string>
	</dict>
	<dict>
		<key>Answer</key>
		<string></string>
		<key>AnswerCandidate</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>Chapter</key>
		<string>体质检测</string>
		<key>Index</key>
		<string>33</string>
		<key>Question</key>
		<string>(33)您舌下静脉瘀紫或增粗吗？（可由调查员辅助观察后填写）</string>
	</dict>
</array>
</plist>
