<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>基本不发生</string>
			<string>头晕眼花，时作时止</string>
			<string>视物旋转，不能行走</string>
			<string>眩晕欲仆，不能站立</string>
		</array>
		<key>Chapter</key>
		<string>高血压检测</string>
		<key>Index</key>
		<string>1</string>
		<key>Question</key>
		<string>你有眩晕的症状吗？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>基本不发生</string>
			<string>轻微头痛，时作时止</string>
			<string>头痛可忍，持续不止</string>
			<string>头痛难忍，上冲额顶</string>
		</array>
		<key>Chapter</key>
		<string>高血压检测</string>
		<key>Index</key>
		<string>2</string>
		<key>Question</key>
		<string>你有头痛的症状吗？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>基本不发生</string>
			<string>心烦偶躁</string>
			<string>心烦急躁，遇事易怒</string>
			<string>烦躁易怒，不能自止</string>
		</array>
		<key>Chapter</key>
		<string>高血压检测</string>
		<key>Index</key>
		<string>3</string>
		<key>Question</key>
		<string>你有急躁易怒的症状吗？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>基本不发生</string>
			<string>晨起腰酸，捶打可止</string>
			<string>持续腰酸，劳作加重</string>
			<string>腰酸如折，休息不止</string>
		</array>
		<key>Chapter</key>
		<string>高血压检测</string>
		<key>Index</key>
		<string>4</string>
		<key>Question</key>
		<string>你有腰酸的症状吗？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>基本不发生</string>
			<string>微觉膝软乏力</string>
			<string>膝软不任重物</string>
			<string>腰软不欲行走</string>
		</array>
		<key>Chapter</key>
		<string>高血压检测</string>
		<key>Index</key>
		<string>5</string>
		<key>Question</key>
		<string>你有腰软的症状吗？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>基本不发生</string>
			<string>晚间手足心热</string>
			<string>心烦手足心灼热</string>
			<string>烦热不欲衣被</string>
		</array>
		<key>Chapter</key>
		<string>高血压检测</string>
		<key>Index</key>
		<string>6</string>
		<key>Question</key>
		<string>你有五心烦热的症状吗？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>基本不发生</string>
			<string>微觉头沉</string>
			<string>头重似蒙布</string>
			<string>头重如戴帽而紧</string>
		</array>
		<key>Chapter</key>
		<string>高血压检测</string>
		<key>Index</key>
		<string>7</string>
		<key>Question</key>
		<string>你有头如裹的症状吗？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>基本不发生</string>
			<string>微觉胸闷</string>
			<string>胸闷朋显，时见太息</string>
			<string>胸闷如窒</string>
		</array>
		<key>Chapter</key>
		<string>高血压检测</string>
		<key>Index</key>
		<string>8</string>
		<key>Question</key>
		<string>你有胸闷的症状吗？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>基本不发生</string>
			<string>偶见痰涎清稀</string>
			<string>干呕时吐痰涎如唾</string>
			<string>呕吐痰涎量多</string>
		</array>
		<key>Chapter</key>
		<string>高血压检测</string>
		<key>Index</key>
		<string>9</string>
		<key>Question</key>
		<string>你有呕吐痰涎的症状吗？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>基本不发生</string>
			<string>微畏寒</string>
			<string>畏寒肢冷明显</string>
			<string>畏寒肢冷，欲加衣被</string>
		</array>
		<key>Chapter</key>
		<string>高血压检测</string>
		<key>Index</key>
		<string>10</string>
		<key>Question</key>
		<string>你有畏寒肢冷的症状吗？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>基本不发生</string>
			<string>面微红赤</string>
			<string>面赤明显</string>
			<string>面赤如妆</string>
		</array>
		<key>Chapter</key>
		<string>高血压检测</string>
		<key>Index</key>
		<string>11</string>
		<key>Question</key>
		<string>你有面赤的症状吗？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>基本不发生</string>
			<string>轻微目赤</string>
			<string>目赤明显</string>
			<string>目赤如鸠眼</string>
		</array>
		<key>Chapter</key>
		<string>高血压检测</string>
		<key>Index</key>
		<string>12</string>
		<key>Question</key>
		<string>你有目赤的症状吗？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>基本不发生</string>
			<string>口微干</string>
			<string>口干少津</string>
			<string>口干时饮水</string>
		</array>
		<key>Chapter</key>
		<string>高血压检测</string>
		<key>Index</key>
		<string>13</string>
		<key>Question</key>
		<string>你有口干的症状吗？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>基本不发生</string>
			<string>晨起口苦</string>
			<string>口苦食不知味</string>
			<string>口苦而涩</string>
		</array>
		<key>Chapter</key>
		<string>高血压检测</string>
		<key>Index</key>
		<string>14</string>
		<key>Question</key>
		<string>你有口苦的症状吗？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>基本不发生</string>
			<string>大便干，每日一行</string>
			<string>大便秘结，两日一行</string>
			<string>大便艰难，数日一行</string>
		</array>
		<key>Chapter</key>
		<string>高血压检测</string>
		<key>Index</key>
		<string>15</string>
		<key>Question</key>
		<string>你有便秘的症状吗？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>基本不发生</string>
			<string>小便稍黄</string>
			<string>小便黄而少</string>
			<string>小便黄赤不利</string>
		</array>
		<key>Chapter</key>
		<string>高血压检测</string>
		<key>Index</key>
		<string>16</string>
		<key>Question</key>
		<string>你有溲赤的症状吗？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>基本不发生</string>
			<string>偶见轻微心悸</string>
			<string>心悸阵作</string>
			<string>心悸怔忡</string>
		</array>
		<key>Chapter</key>
		<string>高血压检测</string>
		<key>Index</key>
		<string>17</string>
		<key>Question</key>
		<string>你有心悸的症状吗？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>基本不发生</string>
			<string>睡眠稍有减少</string>
			<string>时见失眠</string>
			<string>不能入睡</string>
		</array>
		<key>Chapter</key>
		<string>高血压检测</string>
		<key>Index</key>
		<string>18</string>
		<key>Question</key>
		<string>你有失眠的症状吗？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>基本不发生</string>
			<string>耳鸣轻微</string>
			<string>耳鸣重听，时作时止</string>
			<string>耳鸣不止，听力减退</string>
		</array>
		<key>Chapter</key>
		<string>高血压检测</string>
		<key>Index</key>
		<string>19</string>
		<key>Question</key>
		<string>你有耳鸣的症状吗？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>基本不发生</string>
			<string>偶见忘事，尚可记起</string>
			<string>时见忘事，不易想起</string>
			<string>转瞬即见遗忘，不能回忆</string>
		</array>
		<key>Chapter</key>
		<string>高血压检测</string>
		<key>Index</key>
		<string>20</string>
		<key>Question</key>
		<string>你有健忘的症状吗？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>基本不发生</string>
			<string>口中轻微无味</string>
			<string>口淡较重</string>
			<string>口淡不欲饮食</string>
		</array>
		<key>Chapter</key>
		<string>高血压检测</string>
		<key>Index</key>
		<string>21</string>
		<key>Question</key>
		<string>你有口淡的症状吗？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>基本不发生</string>
			<string>饮食稍有减少</string>
			<string>饮食减少</string>
			<string>饮食朋显减少</string>
		</array>
		<key>Chapter</key>
		<string>高血压检测</string>
		<key>Index</key>
		<string>22</string>
		<key>Question</key>
		<string>你有食少的症状吗？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>基本不发生</string>
			<string>活动后气短</string>
			<string>未活动亦气短</string>
			<string>气短较重</string>
		</array>
		<key>Chapter</key>
		<string>高血压检测</string>
		<key>Index</key>
		<string>23</string>
		<key>Question</key>
		<string>你有气短的症状吗？</string>
	</dict>
	<dict>
		<key>AnswerCandidate</key>
		<array>
			<string>基本不发生</string>
			<string>夜尿1次</string>
			<string>夜尿2～3次</string>
			<string>夜尿3次以上</string>
		</array>
		<key>Chapter</key>
		<string>高血压检测</string>
		<key>Index</key>
		<string>24</string>
		<key>Question</key>
		<string>你有夜尿频的症状吗？</string>
	</dict>
</array>
</plist>
